
# Playwright
allure-report/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Logs and temporary files
*html
*.log
*.tmp
*.env

#macOS
.DS_Store